body {
    font-family: "Arial", "Helvetica", sans-serif;
    margin: 0;
}
/*---------------- Header Styles -----------------*/

header {
    background-color: white;
    display: block;
    font-family: "Times New Roman", "Times", serif;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
}

.header-title, .header-nav {
    padding-left: 1.2em;
    text-decoration: none;
}

.header-title {
    background-color: #6F8FA2;
    border-bottom: 1px solid darkblue;
    border-top: 1px solid darkblue;
    text-align: left;
}

.header-title h5 {
    line-height: 24px;
}

.menu-bar {
    background-color: white;
    border-top: 1px solid black;
    padding-top: 0.5%;
}

.header-nav{
    background-color: white;
    border-top: 1px solid white;
    display: inline-block;
    overflow: hidden;
    text-align: left;
}

.header-nav li {
    border-right: 1px solid #000000;
    padding-left: 0.005%;
}

.header-nav li:last-child {
    border-right: none;
}

.btn-with-search, .logged-in-element {
    background-color: white;
    float: right;
    padding-right: 1%;
}

.btn-with-search.btn-group {
    margin-top: 10px;
}

.logged-in-status {
    color: inherit;
    text-decoration: inherit;
}

h2 {
    color: #113951;
}

h5 {
    color: #032336;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-element {
    display: inline;
}

form {
    float: right;
}

.nav-bar {
    float: right;
    margin-right: 100px;
}

/*---------------- Content/Main Body Styles -----------------*/

.wrapper-home-content {
    padding-bottom: 5%;
}

.wrapper-detail {
    padding-bottom: 4%;
}

.image-row {
    padding-top: 5%;
}

.wrapper-column {
    overflow: hidden;
}

.image-column, .column {
    float: left;
    width: 33.33%;
}

.image-column .german-town, .eiffel-tower, .grecian-town{
    height: 150px;
    padding-left: 33%;
    width: 200px;
}

.column h3 {
    text-align: center;
}

.country-list {
    line-height: 1.5em;
    text-align: center;
}

.country a {
    text-decoration: inherit;
    color: inherit;
}

.top-post-content, .addition-request {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.top-post-header {
    text-align: center;
}

.top-post-main {
    text-align: left;
}

.sign-up-request, .post-request {
    text-align: center;
}

.image-row:after, .row:after {
    clear: both;
    content: "";
    display: table;
}

.detail-header-line {
    position: relative;
}

.detail-title {
    padding-left: 17.5%;
}

#return-btn {
    position: absolute;
    right: 35%;
    top: 15%;
}

.detail-text, .author-info {
    padding-left: 17.5%;
    width: 50%;
}

.comment-structure {
    background-color: #A1D1DE;
    border-bottom: 1px solid darkblue;
    border-top: 1px solid darkblue;
    position: relative;
}


.comment-title, .comment-element, #comment-form{
    padding-left: 17.5%;
}

.wrapper-user-comment {
    display: none;
}

#comment-form {
    float: left;
    padding-bottom: 1%;
}

#comment-form #user-comment, #submit-comment {
    float: left;
}

#comment-form #submit-comment {
    margin-top: 17%;
    margin-left: -76.5%;
}

.comment-hr {
    margin-top: 1%;
    clear: left;
    padding-left: 17.5%;
}

.submit-header {
    text-align: center;
}

.submit-form {
    text-align: center;
    width: 100%;
}

#choose {
    margin-top: 1%;
    margin-bottom: 1%;
}

.form-btn-group {
    text-align: center;
    width: 100%;
}

.button-row li {
    display: inline-block;
}

.post-list-header, .list-posts, .search-posts {
    padding-left: 7%;
}

.list-posts, .search-posts {
    padding-bottom: 4%;
}

.search-posts {
    display: none;
}

.post {
    padding-bottom: 0.3%;
    width: 80%;
}

.post-hr {
    width: 120%;
}

.prev-post {
    left: 40%;
    margin-bottom: 2%;
    position: relative;
}

/*---------------- Footer Styles -----------------*/

footer {
    bottom: 0;
    height: 9%;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
}

.wrapper-home-footer, .wrapper-list-footer, .wrapper-submit-footer {
    padding-top: 1.5%;
    position: relative;
}

.wrapper-list-footer {
    padding-bottom: 3%;
}

.footer-bar {
    background-color: #6F8FA2;
    border-top: 1px solid darkblue;
    padding-top: 1%;
    position: absolute;
    text-align: center;
    width: 100%;
}

.footer-element {
    float: left;
    padding-left: 1.2em;
    text-align: center;
}

.icon-group {
    padding-bottom: 20%;
}

.footer-icon-fb, .footer-icon-tw, .footer-icon-in {
    height: 1.2em;
    width: 1.2em;
}